<section class="hero is-medium is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="font-size: 500%; font-family: copperplate gothic bold; text-align: center;">
        ABOUT MAIN
      </h1>
    </div>
  </div>
</section>
<section class="section">
    <div class="container" style="text-align: center; font-family: copperplate gothic bold;">
      <h1 class="title">Our Story</h1>
      <br/>
      <h2 class="subtitle">
        <%= @abouts[0].description %>
      </h2>
    </div>
</section>
<section class="section">
    <div class="container" style="text-align: center; font-family: copperplate gothic bold;">
      <h1 class="title">Entity Relationship Diagram (ERD)</h1>
      <br/>
      <h2 class="subtitle">
        <%= image_tag("main erd.png", alt: "ERD") %>
      </h2>
    </div>
</section>
