h1.title.is-1 style="text-align:center;" = @category.name
.container
  = render_breadcrumbs :separator => ' > '
  = pagy_bulma_nav(@pagy).html_safe
  .columns.is-half.is-multiline
    = render partial: 'products/product', collection: @category.products, locals: {name_is_link: true}
